[2017-12-22 18:29] clesaege opened #5 "Emit an event when PNK are redistributed"

[2017-12-22 18:30] clesaege opened #6 "Emit an event when arbitration fees are won"

[2017-12-22 18:30] clesaege opened #7 "Make a function returning the PNK at stake by a juror in a dispute"

[2017-12-24 17:23] clesaege commented on #5
Done in https://github.com/kleros/kleros/commit/358daeff631a9278e4a18cf0ea2961405a562716#diff-ff0aeff88a90af4ab860f2a2fece7208

[2017-12-24 17:23] #5 closed

[2017-12-24 17:24] clesaege commented on #6
Done in https://github.com/kleros/kleros/commit/358daeff631a9278e4a18cf0ea2961405a562716#diff-ff0aeff88a90af4ab860f2a2fece7208

[2017-12-24 17:24] #6 closed

[2017-12-24 17:54] clesaege opened #8 "Handle Stakes Such That It Allows Parameter Changes"
Currently
https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L334
is verified because we can't change the parameters.
But with parameter changes it could be violated.
We need to handle the amount atStake in a dispute by jurors in way that does not assume the parameters don't move.

[2017-12-25 19:40] clesaege opened #9 "Use MinimeERC20 to prepare for voting"
For the PNK contract:
https://github.com/kleros/kleros/blob/master/contracts/PinakionPOC.sol

MinimeERC20:
https://github.com/kleros/kleros-interaction/blob/master/contracts/standard/arbitration/ArbitrableTokens/MiniMeTokenERC20.sol

[2017-12-26 12:47] clesaege opened #10 "Make multipleShotTokenRepartition"
https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L340

The function oneShotTokenRepartition is O(v), so it could throw if there is an amount of appeals too high.
https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L290

We should also make a multipleShotTokenRepartition which allows repartitions across multiple calls.
During token repartition, the status must b

[2017-12-27 16:22] clesaege opened #11 "Update Kleros POC for boolean callbacks"
This will be standardized in the future: https://github.com/kleros/kleros-interaction/issues/13

This is so that functions which do not require someone in particular to call can be called by anyone, first starting with a centralized server, than with something like Snow.

[2018-01-05 16:39] clesaege commented on #11
The update will now be about making event for the deamon to know what and for which intervals to call.

[2018-01-09 11:30] ernesto-usal commented on #9
The objetive is only to make PinakionPOC.sol work with MiniMETokenER20.sol, no?

[2018-01-09 12:26] clesaege commented on #9
Yes.

[2018-01-25 12:07] clesaege commented on #10
Done

[2018-01-25 12:07] #10 closed

[2018-02-07 02:10] clesaege commented on #9
This can be done directly by using MinimeToken.
Deposit must be replaced by approveAndCall and receiveApproval.

[2018-02-18 10:08] #11 closed

[2018-03-08 18:04] kdembler commented on #9
I'd like to work on this.
I agree there's no need for a specific PNK contract, as all needed functionality is already implemented in MiniMe, however, as far as I can see, there's no way for Truffle's test's contract abstraction to integrate with external contracts (from outside repo) and they need some reference for PNK.
How about providing fake implementation in `test/` just for testing purposes?

[2018-03-09 00:26] clesaege commented on #9
@kdembler Hi, there is absolutely no problem using contracts from others repo. See https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L10 for example.

[2018-03-09 08:07] kdembler commented on #9
@clesaege Hey, I'm aware you can import contracts from other repos in contracts.
What I meant is that if there's no need for PNK contract per se (it's removed from repo) then some reference will be needed for Truffle ([here](https://github.com/kleros/kleros/blob/b8abc2f2c0cc7ee1f625e8c7e22abbaf26584626/test/klerosPOC.js#L4)) to be able to include it in tests, as `artifacts.require()` is only able

[2018-03-09 08:58] kdembler commented on #9
Okay, nevermind, I didn't notice it can import contracts from npm packages :)

[2018-03-11 17:42] n1c01a5 opened #25 "Improve the readme"
Add how build the project, how contribute to the project, run the tests...

[2018-03-11 18:53] kdembler commented on #9
I'm having second thoughts about not having PNK contract.
In that case, every call to deposit (i.e. `approveAndCall`) will need to include Kleros contract address as there will be no way to store it in MiniMe, so (I guess) user application making these calls will always need to know current address. Is that all right?
On the other hand, having PNK contract with current functionality (`setKleros` a

[2018-03-12 00:07] clesaege commented on #9
Yeah, the UI can handle it. This may also simplify migrations.

A PNK contract with current functionalities have the advantage of saving a bit of gas with the `approveAndCall`, but the inconvenient of being custom implementation, while it could just use a well known and standardized one.

[2018-03-15 01:55] clesaege commented on #7
Note, it's at stake in a dispute, not the total at stake.

[2018-03-15 15:06] clesaege commented on #7
From the PR I've seen, it seems that it's not possible to get it without giving the list first. So we may just need to abandon having this functionality.
What do you think @n1c01a5 @klassicd ?

[2018-03-15 15:07] clesaege commented on #7
Or we can loop over, but put a huge warning that this should only be used by the interface as it would be O(n) and could blow the gas limit?

[2018-03-15 21:04] epiqueras commented on #7
@clesaege
We don't have to loop over disputes.
We just have to loop over draws for a given dispute or require the user to pass in `_draws`.

[2018-03-16 00:51] klassicd commented on #7
I agree with @epiqueras, the method signature `(address _jurorAddress, uint _disputeID, uint[] _draws)` is the same one used for public methods `voteRuling`, `penalizeInactiveJuror` and `validDraws`.

I would like to write a test, but could use some help getting it to pass due to the error `The contract code couldn't be stored, please check your gas amount.`.  Anyone else run into this before?  Th

[2018-04-02 21:10] epiqueras opened #29 "Allow Parties to Forfeit"
Only the party that raised the dispute is allowed to forfeit, and they must pay all the fees.

[2018-04-02 21:14] epiqueras opened #30 "Timeout Should Draw a New Jury"
If a dispute times out without a ruling due to lack of juror participation. The contract should draw a new jury without any extra cost to the parties. Jurors should probably also be penalized for this.

[2018-04-04 05:55] clesaege commented on #29
Good idea. But it should be done at the arbitrable contract level, not the arbitrator one.

[2018-04-04 06:03] clesaege commented on #7
Requiring the user to pass the draw makes the method useless as the user would already know the value at stake if he knows the draws.
We can either abandon doing such method, or loop over the draws, making it O(n) which is ok if used for interface but not called by other contracts.

[2018-04-04 15:04] epiqueras commented on #29
@clesaege But you need a way for the arbitrable contract to cancel the dispute on the arbitrator don't you?

[2018-04-05 02:44] clesaege commented on #29
Well, it's not possible to cancel the dispute, because jurors have to vote, so there must be a token redistribution.

[2018-04-05 03:48] epiqueras commented on #29
@clesaege I think this could cause issues.

Imagine a party forfeits after some jurors have already voted. Let's say the forfeiting party was actually correct in raising the dispute and it forfeited due to X invalid reasons. Assuming we had honest and capable jurors, they would have voted for the forfeiting party. Now, jurors who have not voted yet would vote for the party that did not forfeit bec

[2018-04-05 04:05] clesaege commented on #29
I think we have to disable evidence submission after some period.
It seems that forfeiting messes up incentives. I think it's just better not to allow forfeiting. If some want to forfeit, they can wait for the ruling to be given and reverse it after if it was given in its favor.

[2018-04-05 15:17] epiqueras commented on #29
@clesaege
I think that if you allow disputes to be cancelled, (no PNK redistribution), the incentives are fine, but you do open a potential time grief.

I'll close this for now and make a new issue for the evidence submission disabling.

[2018-04-05 15:17] #29 closed

[2018-04-05 18:51] kdembler opened #31 "Double Lockfiles"
Currently, there are both `package-lock.json` from npm and `yarn.lock` from yarn lockfiles in repo.
The point of having a lockfile is so that anyone downloading the project will get the exactly same versions of dependencies that has been tested by developers. However, with two lockfiles from two different tools it might be easy to forget to update one of them during dependency update and get them

[2018-04-09 21:30] clesaege commented on #31
We can keep `package-lock.json`. Feel free to PR to remove one.

[2018-04-13 18:54] #9 closed

[2018-04-13 19:05] clesaege opened #32 "Split between real features and test ones"
For now, KlerosPOC (https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol) has some real functionalities coupled with test functionality (namely buying tokens https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L216 and the token controller functions which are required for this purpose https://github.com/kleros/kleros/blob/master/contracts/KlerosPOC.sol#L151).
I we

[2018-05-05 17:30] kdembler opened #34 "KlerosPOCCourt importing nonexistent contract"
https://github.com/kleros/kleros/blob/4e3b2062e50072cea9af72b863a138164c2bed3f/contracts/KlerosPOCCourt.sol#L7

`KlerosPOCCourt.sol` still imports the old Pinakion contract. Instead, it should import new "Pinakion" -  `MiniMeTokenERC20`

[2018-05-05 18:34] kdembler opened #36 "KlerosPOCCourt relies on unpublished kleros-interaction features"
https://github.com/kleros/kleros/blob/4e3b2062e50072cea9af72b863a138164c2bed3f/contracts/KlerosPOCCourt.sol#L34

`maxLocalAppeals` was added to `kleros-interaction` after latest release (0.0.14), so after installing all of Kleros dependencies, building contracts fails. So `kleros-interaction` needs to be released with new functionality and its version has to be bumped up in Kleros dependencies.

[2018-05-21 03:39] #31 closed

[2018-05-25 18:56] #34 closed

[2018-05-29 20:49] clesaege opened #40 "Prepare a way to upgrade"
We need to have the court ready to be upgraded.
We need to discuss about the best way to do so.
One way could be to:
-Put the new court as the parent one.
-Lower the maximum amount of appeals before we "jump the court" to 0.
-Lower the appeal fee to 0.

[2018-05-29 20:51] clesaege opened #41 "Prepare for governance"
Prepare the court for governance.
To do so, we can put a court governor which will be able to modify court parameters and upgrade the court.
We may have it centralized first but can then put a governance smart contract to vote on those.

[2018-05-29 20:53] epiqueras commented on #40
Also see
https://github.com/kleros/kleros-interaction/blob/master/contracts/standard/proxy/ArbitratorVersioningProxy.sol

On Tue, May 29, 2018 at 3:49 PM Clément Lesaege <notifications@github.com>
wrote:

[2018-05-29 21:05] clesaege commented on #40
Yeah, so all contracts would go to the proxy even in the long term?

[2018-05-29 21:11] epiqueras commented on #40
Yes
On Tue, May 29, 2018 at 4:05 PM Clément Lesaege <notifications@github.com>
wrote:

[2018-05-29 21:29] clesaege commented on #40
Ok, let's take the proxy as a long term solution too.

[2018-05-29 21:29] #40 closed

[2018-05-30 12:04] #32 closed

[2018-05-30 17:57] luisfidelis commented on #41
Is there anyone working on? If there isn't, i would like to start.

[2018-05-30 18:49] clesaege commented on #41
You can take it.

[2018-06-25 17:12] #25 closed

[2018-06-25 17:14] clesaege opened #47 "Limit the amount of appeals in Kleros"
After a appeals, there should not be possible to appeal anymore.
This parameter would be able to be chosen through governance but for now it can be fixed (to 5 for example).

[2018-06-27 06:48] 7flash commented on #47
Should we limit amount of appeals per dispute or per user?

[2018-06-29 15:46] clesaege commented on #47
@7flash per dispute

[2018-07-04 11:04] clesaege opened #50 "Make a governance contract"
The governance contract should allow token holders (of a MiniMe token) to vote on proposals. A proposal is a call to an other smart contract with the amount of weis to transfer and the input data (which can be used to call a function with some parameters).
When a proposal is submitted, a fork of the MiniMe token is done and the forked token used as transferable vote tokens (to allow liquid voting)

[2018-07-12 13:04] clesaege commented on #30
For now, it rules "0: refuse to arbitrate".
Drawing a new jury for free could be problematic as it would need to be paid.

[2018-07-16 12:46] ferittuncer commented on #41
Are you still working on this @luisfidelis ?

[2018-07-16 20:59] clesaege commented on #41
I don't think so.

[2018-07-19 10:30] clesaege commented on #41
Done

[2018-07-19 10:30] #41 closed

[2018-07-19 10:30] clesaege commented on #47
Done

[2018-07-19 10:30] #47 closed

[2018-07-23 09:03] n1c01a5 opened #57 "Test failed"
When I ran tests, 9 tests failing on 16:
[code]

[2018-07-23 09:06] n1c01a5 opened #58 "9 tests failing"
When I ran tests, 9 tests failing on 16:
[code]

[2018-07-23 09:06] #58 closed

[2018-07-23 09:40] ferittuncer commented on #57
My test results are fine: [screenshot](https://ibb.co/cYPVry)

What is your Truffle version?

[2018-07-23 11:06] n1c01a5 commented on #57
@ferittuncer Truffle v4.0.1 - a development framework for Ethereum

[2018-07-23 11:45] n1c01a5 commented on #57
often ganache failed see https://github.com/trufflesuite/ganache/issues/852

[2018-07-23 11:53] n1c01a5 commented on #57
it works with the latest versions of truffle and ganache (`1.2.1`)
to have the last version truffle use theses cmds:
[code]

[2018-07-23 11:53] #57 closed

[2018-07-23 14:20] #30 closed

[2018-07-23 15:18] clesaege opened #62 "Sum-Trees for Kleros liquid"
### How it currently works
Currently, PNK can only be deposited during certain periods which is problematic in term of UX.
When PNK are deposited, the contract saves the segment which belongs to each juror, for example if Alice deposit 10PNK the contract save:
Alice: [0,10[
Size: 10

Then Bod deposits 15 PNK and the contract and the sate becomes
Alice: [0,10[
Bob: [10,25[
Size: 25

When a juror is

[2018-07-23 15:21] clesaege commented on #62
Before implementing that, we would need someone to formally define this structure and make a proof that the operations are effectively logarithmic (or find literature on it, but the proof does not look complicated). So if someone is up for this algorithmic issue, he can go on.

[2018-07-23 16:18] clesaege opened #64 "Make truffle tests for appeals and prepare for governance"
Update tests covering the changes in #51 and #55

[2018-07-26 19:22] #64 closed

[2018-07-26 19:37] clesaege opened #67 "Security Review and Bug Bounties (up to 20 ETH bug bounties)"
Look at all the files which will be used in the Doge list [cryptoeconomic experiment](https://medium.com/kleros/doges-on-trial-kleros-launch-on-mainnet-f93ff88ae9a) for potential bugs and vulnerabilities.

The contracts which would be used in this mainnet experiment are:

- [Kleros](https://github.com/kleros/kleros/blob/master/contracts/Kleros.sol).
- [A blockhash RNG](https://github.com/kleros/kl

[2018-07-28 00:12] clesaege opened #68 "Kleros: appeal should only be callable by the arbitrated contract"

[2018-07-28 01:41] clesaege commented on #68
Fixed in https://github.com/kleros/kleros/commit/1407b8dacf194a96337e571ea9696e3f1ec7523a

[2018-07-28 01:41] #68 closed

[2018-07-29 20:14] clesaege commented on #67
A total of 11 ETH of bounties have been awarded.

[2018-07-30 16:43] clesaege commented on #62
### k-ary

In order to save on write operations, we can even have a K-ary tree (tree where nodes can have up to k childs).
This way, finding the right user would be in O(K log(n)/log(K)) and the amount of write operations would decrease to O(log(n)/log(K)). This way, we can save a substantial amount of write operations at the price of some read and memory ones.
We can set up k to be optimal for an

[2018-07-30 16:46] clesaege commented on #62
### Nodes to user and user to node.

Nodes would only contain their value, we will also keep track of which leaf node belong to whom by mapping nodes to addresses and addresses to nodes.

[2018-08-03 11:24] clesaege opened #70 "Make a bot to penalize inactive jurors."

[2018-08-03 11:24] #67 closed

[2018-08-06 18:38] clesaege opened #71 "Implement a k-ary sum tree"
As described in https://github.com/kleros/kleros/issues/62

[2018-08-06 18:40] clesaege commented on #50
Let's not try to do it with current Kleros but let's do it for the next version.
The next Kleros version won't require tokens to be transferred to the Kleros contract but instead would lock tokens and transfer them by being the token-controller (see MiniMe token).

[2018-08-09 22:47] #71 closed

[2018-08-09 22:52] clesaege commented on #62
We'd also need:
- Increase which increases the value of leaf node and update parents.
- Decrease which decreases the value of a leaf node and update parents.
- Set which set the value of a leaf node and update parents.

[2018-08-13 15:51] epiqueras opened #79 "Kleros Liquid"

[2018-08-13 15:52] epiqueras opened #80 "Kleros Contract Scraping CLI"

[2018-08-15 02:06] clesaege commented on #62
The implementation is done in https://github.com/kleros/kleros/blob/master/contracts/data-structures/KArySumTreeFactory.sol

We still need worst case complexity proof as it is not a common data structure.

[2018-08-15 03:27] clesaege commented on #36
Done

[2018-08-15 03:27] #36 closed

[2018-08-15 03:34] clesaege opened #81 "Make the policy contract"
See https://docs.google.com/document/d/17aqJ0LTLJrQNSk07Cwop4JVRmicaCLi1I4UfYeSw96Y/edit#

[2018-08-17 22:04] clesaege opened #82 "Add RAB Pragma Comments for Files Bountied on Solidified https://web.solidified.io"

[2018-08-20 13:22] clesaege opened #83 "Add PNK token to metamask."
Use this process: https://github.com/MetaMask/eth-contract-metadata
Contract address: https://etherscan.io/address/0x93ed3fbe21207ec2e8f2d3c3de6e058cb73bc04d

[2018-08-21 15:51] epiqueras commented on #80
See https://www.npmjs.com/package/kleros-contract-scrapers.

[2018-08-21 15:51] #80 closed

[2018-08-21 17:01] epiqueras commented on #83
See https://github.com/MetaMask/eth-contract-metadata/pull/147.

[2018-08-21 17:01] #83 closed

[2018-08-24 01:19] epiqueras opened #85 "Formally Prove Worst Cases Complexities of K-Ary Sum Trees"
Implementation Spec: kleros/kleros/issues/62
Implementation Code: https://github.com/kleros/kleros/blob/master/contracts/data-structures/KArySumTreeFactory.sol

Two proofs are needed:
- Worst case drawing complexity is `O(K * log(n)/log(K))`.
- Worst case append complexity is `O(log(n)/log(K))`.

[2018-08-24 01:19] #62 closed

[2018-08-27 11:07] marczeller commented on #70
Quite hard task in the current Kleros contract as no available function (to the best of my knowledge) provide the information of selected jurors for a Dispute and associated draws.

- Draws can be easily "bruteforced" by a contract but it's not optimal for gas.

- Jurors can be somewhat "bruteforced" by checking the potential jurors if someone monitor all the ETH address who had activated their PN

[2018-08-27 11:33] marczeller commented on #70
Ok, so the bot should call  `function isDrawn(uint _disputeID, address _juror, uint _draw)` and "bruteforce" it with all addresses that called the function `function activateTokens` and all possible draws in order to create a listing of possible jurors in the current period (**that doesn't cost any gas**)

then `function getVoteCount` can provide information about "inactive jurors slots". (**also

[2018-08-29 08:53] clesaege commented on #70
Yeah, this way there is only a O(1) on chain cost.

[2018-08-30 11:06] marczeller opened #91 "IsDrawn function return "false negative" results after PassPeriod"
with `0x211F01e59b425253C0a0E9a7Bf612605b42ce82c` juror contract, calling the function `Isdrawn` return `false` on every drawn juror after the `PassPeriod` function is executed.

Resulting of no (to the best of my knowledge) way to know previous periods jurors draws.

But we need the draws in order to call  `penalizeInactiveJuror` otherwise the only way to successfully collect every juror draws is

[2018-08-30 18:13] satello commented on #91
Right now the only way to do `penalizeInactiveJuror` is to check every address that activated tokens in that session like you mentioned. `isDrawn` works all the way up until the next `activation` period. So all jurors can be checked in `appeal` or `execute` periods after they have, or have not, voted. There is no way to know juror draws in previous sessions/appeals because `randomNumber` is not st

[2018-09-10 14:55] epiqueras opened #92 "Fix KlerosPOC Tests"

[2018-09-10 15:36] #91 closed

[2018-09-12 14:25] ferittuncer opened #93 "Write missing require statement error reasons"

[2018-09-16 12:17] #93 closed

[2018-09-17 12:00] clesaege opened #94 "Add PNK to MyCrypto and MyEtherWallet"
https://kb.myetherwallet.com/tokens/token-creators-add-your-token-to-myetherwallet.html
https://github.com/ethereum-lists/tokens/tree/master/tokens

[2018-09-19 12:46] ferittuncer commented on #94
https://github.com/MyEtherWallet/ethereum-lists/pull/832

[2018-09-19 16:52] ferittuncer commented on #8
Is this still relevant for Athena release?

[2018-09-19 17:46] ferittuncer commented on #94
Pull request merged.

[2018-09-19 17:53] ferittuncer commented on #94
https://github.com/ethereum-lists/tokens/pull/146

[2018-09-19 19:28] ferittuncer commented on #94
This one is merged too.

[2018-09-20 08:28] ferittuncer commented on #94
I don't see PNK token in the dropdown list on MEW.

[2018-09-21 15:46] epiqueras opened #95 "Use Test Helpers from Open Zeppelin Instead of Kleros Interaction"

[2018-09-22 10:28] ferittuncer commented on #94
✅  MyEtherWallet now shows PNK

[2018-09-28 09:36] ferittuncer commented on #94
This is MyCrypto's list: https://github.com/MyCryptoHQ/MyCrypto/blob/develop/common/config/tokens/eth.json

Waiting for it to be updated.

[2018-09-30 21:52] hellwolf commented on #92
Hi, I fixed the issue at https://github.com/kleros/kleros/pull/98, please have a look.

Note: tests passed, but somehow build failed: https://travis-ci.org/kleros/kleros/builds/435367401?utm_source=github_status&utm_medium=notification

[2018-09-30 22:38] hellwolf commented on #92
ah, that's because of those linter errors...

[2018-10-01 08:40] hellwolf commented on #92
replaced with the new PR https://github.com/kleros/kleros/pull/99

[2018-10-01 14:50] #95 closed

[2018-10-06 10:29] ferittuncer commented on #8
@clesaege

[2018-10-15 15:07] #50 closed

[2018-10-17 18:09] ferittuncer opened #100 "Test calling internal functions inside Governance"
It should be possible to call the using a proposal execution.

[2018-10-17 18:32] ferittuncer commented on #100
Try making internal function public and adding an onlyItself modifier. `executeProposal` is using `.call()` to execute proposals and it's an external call, which will fail on internal functions.

[2018-10-17 18:39] epiqueras commented on #100
Make a test contract that inherits this one and exposes the functions.

On Wed, Oct 17, 2018 at 7:32 PM Ferit Tunçer <notifications@github.com>
wrote:

[2018-10-19 10:04] ferittuncer opened #102 "Generating courts with sortition sum tree K equals to 1 always fails."
Generate courts scripts was assigning K randomly between 1 and 5. When I tried between 2 and 5 I didn't observe any failure. And when I tried with 1, it always fails.

Branch: `debug/flaky-tests-generate-courts`
Test: `governance.js`

[2018-10-19 10:43] ferittuncer commented on #94
Still waiting...

[2018-10-19 10:59] ferittuncer commented on #102
https://github.com/kleros/kleros/commit/74851932b5352f1adcf6d4eac914a2772c96e482

Line 33: `require(_K > 1, "K must be greater than one.");`

[2018-10-19 10:59] #102 closed

[2018-10-19 18:37] ferittuncer commented on #100
@epiqueras Problem is not about testing internal functions. Problem is it should be possible to create and execute proposals which call internal functions. `executeProposal()` is implemented using `.call()` so even Governance contract itself is the caller, can't call internal functions.

I verified that this is the case by testing it. Internal doesn't work but instead using `msg.sender == address(

[2018-10-19 18:44] #100 closed

[2018-10-22 16:15] ferittuncer opened #104 "Review Governance contract"

[2018-10-23 12:42] mtsalenc commented on #104
In what branch and file is the code?

[2018-10-24 20:10] mtsalenc commented on #104
https://docs.google.com/document/d/164K6zvfQ7TYG0LZD_uFnokkWeZ9Ovnc9vHIAv7MpN_c/edit

[2018-10-24 20:43] satello commented on #104
https://docs.google.com/document/d/1Vwu8Q-11mKj7pirFGbyY3FUVd-cdO_RtnAmOjDymy-A/edit

[2018-10-26 11:42] ferittuncer commented on #104
@satello The review document is not public.

[2018-11-03 07:53] #104 closed

[2018-11-03 07:54] epiqueras commented on #94
Done.

[2018-11-03 07:54] #94 closed

[2018-11-03 07:54] #92 closed

[2018-11-03 07:55] #79 closed

[2018-11-03 07:55] #81 closed

[2018-11-03 07:56] epiqueras commented on #70
This will be done on chain with the new release.

[2018-11-03 07:56] #70 closed

[2018-11-03 07:59] epiqueras commented on #8
`atStake` is calculated from `minActivatedTokens` for which there is a setter. @clesaege

[2018-11-12 21:07] epiqueras commented on #82
Follow contributing.kleros.io "RAB" guidelines.

[2018-11-12 21:07] #8 closed

[2018-11-23 10:40] ferittuncer opened #107 "Pre-Review Governance"

[2018-11-23 10:53] epiqueras commented on #107
Change to “In Progress” once reviewer is assigned^^
On Fri, Nov 23, 2018 at 10:40 AM Ferit Tunçer <notifications@github.com>
wrote:

[2018-11-27 00:25] clesaege opened #108 "Pre-review Sortition-Sum Tree"
https://docs.google.com/document/d/1lw0gI8kFM5HIscB3vQb5zifXfeD0XrLuRnSKD6MSr04/edit#

[2018-11-27 06:36] epiqueras commented on #108
Done in https://github.com/kleros/kleros/commit/4b0702d80359167c844a921b5c3b350019cf7ce4.

[2018-12-19 03:03] clesaege opened #110 "Add an appealPeriod getter to KlerosLiquid"

[2018-12-19 19:46] #110 closed

[2018-12-23 20:42] clesaege opened #111 "No need to wait for evidence if it's an appeal"
If it's an appeal, we don't need to wait during the evidence period: https://github.com/kleros/kleros/blob/master/contracts/kleros/KlerosLiquid.sol#L396

[2019-01-03 00:48] #108 closed

[2019-01-08 02:42] clesaege opened #112 "Pre-Review KlerosLiquid"
Here is the review:

https://docs.google.com/document/d/16g3jwVbRLnWQkpPsmHI6LsHkGJ9f69PGLfzkiRlu5tE/edit?usp=sharing

@epiqueras Could you make the RAB issue and close this one?

[2019-01-08 08:04] #112 closed

[2019-01-08 08:04] epiqueras opened #113 "Pre-Review KlerosLiquid"
https://docs.google.com/document/d/16g3jwVbRLnWQkpPsmHI6LsHkGJ9f69PGLfzkiRlu5tE/edit?usp=sharing

[2019-01-08 14:16] clesaege commented on #113
Review: https://docs.google.com/document/d/16g3jwVbRLnWQkpPsmHI6LsHkGJ9f69PGLfzkiRlu5tE/edit?usp=sharing

[2019-01-08 17:32] unknownunknown1 commented on #113
My review: https://docs.google.com/document/d/1cEeHn7WoCJHnz8scWZ1iahMduqZHDbioMusSROcvOHo/edit
Nothing serious found

[2019-01-31 22:15] clesaege opened #114 "Process the Sortition Sum Tree Review"
https://docs.google.com/document/d/1XmRTGxzh5Zfj0d320H_yf2E8Kh7AoPdJLK8IsBaHGL4/edit?usp=sharing

[2019-02-01 14:10] epiqueras commented on #114
Done.

[2019-02-01 14:10] #114 closed

[2019-02-05 16:50] clesaege commented on #62
# Sortition Sum Tree Bounties

## Sortition Sum Tree

### Sortition Sum Tree, introductive exemple
In Kleros liquid, instead of using segments, we would use a sortition sum tree. This would allow depositing and taking back PNK in almost real time.
With
Alice: 10
Bob: 15
Carl: 20
Dave: 5

We would have the following sum-tree:
[base-sum-tree](https://user-images.githubusercontent.com/8873352/4308528

[2019-02-05 18:43] clesaege opened #115 "[Bug Bounty: 50 ETH] Sortition Sum Tree"
# Sortition Sum Tree Bounties

This bug bounty is posted on [solidified](https://web.solidified.io/contract/5c6c3dc0c752390011be4c7b).
You can report bugs on solidified or by sending a mail to clement@kleros.io. Bugs are rewarded up to 50 ETH according to the classification indicated on solidified.

## Sortition Sum Tree

### Introductory example
In Kleros liquid, instead of using segments, we wou

[2019-02-06 17:37] unknownunknown1 commented on #115
My review https://docs.google.com/document/d/1WHxFRo-91iDoDnfBptr6QFL8D69jUvbrcVm6ARm52j0/edit?usp=sharing
No serious issues

[2019-02-13 15:22] ferittuncer commented on #115
https://docs.google.com/document/d/1tZ3CGWgGglpdRY5KbwnXWS7zK9_2dEwgZYR7P-gtWek/edit?usp=sharing

[2019-02-14 19:20] clesaege commented on #113
New review: https://docs.google.com/document/d/1FLmXWv-9gDYST958IN_dAYEWOkszCWh8BCTQlQRXQKE/edit#

[2019-02-15 12:30] ferittuncer commented on #113
https://docs.google.com/document/d/1E6_lHNm78wYL38X9mcOBwqKG6nZCz2CBMympoZNIHAM/edit?usp=sharing

[2019-02-17 20:32] clesaege commented on #113
Quick review (computer review of only modified functions): https://docs.google.com/document/d/1wEgl9bOOgE7sJyVjd_j3TYocBKczZLoq_iLfZ_NP9Ro/edit?usp=sharing

[2019-02-18 08:20] unknownunknown1 commented on #113
https://docs.google.com/document/d/1oXwpVlzrcTxR45Sd3_BEBUDIq0aoN3RShVvKHBLnX9Q/edit?usp=sharing

[2019-02-19 14:39] clesaege opened #117 "[Bug Bounty: up to 50 ETH] Kleros Liquid"
# Kleros Liquid Bounties
This bug bounty is also posted on [solidified](https://web.solidified.io/contract/5c771a8cc2dd660011638192).
You can report bugs on solidified or by sending a mail to clement@kleros.io. Bugs are rewarded up to 50 ETH according to the classification indicated on solidified:
- Minor bugs: 5 ETH
- Major bugs: 25 ETH
- Critical bugs: 50 ETH

##  Kleros Liquid

This contract wi

[2019-02-22 19:22] clesaege commented on #117
Congratulation to Robert who found a [critical bug](https://web.solidified.io/contract/5c6c3c33c752390011be4c79/bug/5c6f5ab1c752390011be4c87) and is awarded 50 ETH. The bounty still run.

[2019-02-27 19:03] clesaege commented on #117
Another vulnerability has been found allowing to increment anywhere in storage:
https://github.com/kleros/kleros/blob/ab4de524b68f9cba21819dbb83562b7217dcb2f4/contracts/kleros/KlerosLiquid.sol#L799
https://github.com/kleros/kleros/blob/ab4de524b68f9cba21819dbb83562b7217dcb2f4/contracts/kleros/KlerosLiquid.sol#L546
See https://consensys.github.io/smart-contract-best-practices/known_attacks/ : Stora

[2019-02-28 12:14] n1c01a5 commented on #113
https://docs.google.com/document/d/1lYE9WJ9Y62yAuuJlYU537-GUNFjypu4CQsD5cBoLV04/edit#heading=h.uw3g9px7u45v

[2019-03-06 09:22] #117 closed

[2019-03-06 09:23] #115 closed

[2019-06-11 09:48] ferittuncer opened #128 "Review KlerosGovernor"

[2019-06-11 12:40] ferittuncer commented on #128
### Review at 4afdad21ec34bedc7cfddb530e79f823994ba4b8

1. Rename `lastAction` to `lastApprovalTime`.
2. Rename `shadowWinner` to `defaultWinner`.
3. Why `lastAction = 0` ?https://github.com/kleros/kleros/blob/4afdad21ec34bedc7cfddb530e79f823994ba4b8/contracts/kleros/KlerosGovernor.sol#L204-L209
4. Why can't fund an appeal for others' lists? https://github.com/kleros/kleros/blob/4afdad21ec34bedc7c

[2019-06-11 17:23] ferittuncer opened #131 "Travis Ten Minutes Timeout Problem"
Travis times out if no output received within ten minutes.
Currently, coverage report command gets timed out because of this.

I tried to use the `--verbose` flag to make coverage command produce output more often (https://github.com/kleros/kleros/commit/0e8df689d15f2ff1b22abca05450c342a8516258) and tried `travis_wait` function to make Travis wait (https://github.com/kleros/kleros/commit/8a9533f7e

[2019-06-16 15:35] ferittuncer commented on #82
Closing as it looks like not relevant anymore @clesaege

[2019-06-16 15:35] #82 closed

[2019-06-18 04:11] ferittuncer commented on #128
Awaiting crowdfunding to be implemented to review again.

[2019-06-24 18:41] mtsalenc commented on #85
The link in the issue description gives 404. Is this issue still relevant?

[2019-06-24 18:43] mtsalenc commented on #113
Closing this as the contract went through the audit.

[2019-06-24 18:43] #113 closed

[2019-06-25 20:19] ferittuncer opened #135 "Conditional Appeal Period"
Generally, in arbitrable implementations, the loser side of the dispute has less time to pay fees to avoid last minute sniping. And, when the loser doesn't pay fees, the appeal period is effectively ended because there is no point to appeal if you are the winner side. So, in some of the cases, the effective appeal period is less than what the arbitrator determined previously. Thus, we need a condi

[2019-06-26 19:06] mtsalenc commented on #128
L25: A ruling that was given -> The ruling that was given
L26: given to a dispute of the session. ->  given to the dispute of the session, if any.
L43: Is needed to catch duplicates -> Used to catch duplicates.
L51:  side that ultimately wins a dispute ->  side that won this round of the dispute.
L61: must be paid by submitter in the case -> must be paid by each side in the case
L70: Stores all su

[2019-06-27 08:03] unknownunknown1 commented on #128
L43: I wanted to avoid saying "used to" because it also has another meaning like, "did something in the past on a regular basis", however I think I'll replace "Is needed to" with "Is used to".
L51: I actually took it from TCR and I think it still applies here because to get reward a party have to win a dispute and not a round.
L70: Not sure about this, since "submitted session" implies that we act

[2019-06-27 08:25] unknownunknown1 commented on #128
Made a PR with changes

[2019-08-05 06:21] cylim commented on #131
I didn't take a deep look into the implementation, from what I can see in the travis log https://travis-ci.org/kleros/kleros/builds/566338326#L376

The last command running is `yarn test` (which run `solidarity-coverage`), I assume that if you need to set `verbose` or `travis_wait`, should set it for the `yarn test` ?

[2019-09-22 16:28] ferittuncer opened #142 "Move All Proposals to IPFS"
Some of them are on GitHub right now.

[2019-09-25 11:48] ferittuncer opened #143 "Review Comments in Contracts"
Someone reported that some links in comments are broken.

[2019-11-02 14:56] pasDamola commented on #143
Hi @ferittuncer can i take this up? And what do i need to do. Would like to contribute

[2019-11-04 11:58] ferittuncer commented on #143
Hi @pasDamola , outside contributions are welcome, so please go for it.

What needs to be done is to review each comment and check whether the information is still relevant. And if not, update it.

For example:
 - A broken link: Replace it with new one.
 - An explanation about how things work, but it's not true anymore: Update the explanation.

[2019-11-04 12:00] #128 closed

[2019-11-04 12:00] #107 closed

[2019-11-04 12:01] ferittuncer commented on #85
Contract directory changed, that's why it's broken. I think it's still relevant yes.

[2019-11-04 20:14] #131 closed

[2019-11-22 23:27] clesaege opened #155 "[Bug Bounty: up to 10 ETH] Kleros Governor"
# Linguo Bounties

This is a bug bounty on the [Kleros Governor contract](https://github.com/kleros/kleros/blob/master/contracts/kleros/KlerosGovernor.sol).
Bugs are rewarded up to 10 ETH according to this classification:
- Critical Bugs: 10 ETH
for bugs that allows an attacker to make the governor execute arbitrary transactions.
- Major Bugs: 5 ETH
for bugs that can lock a non negligible amount u

[2020-01-31 18:05] satello commented on #142
In addition to this we should refactor to use the format `/ipfs/...` for policies to be agnostic to the gateway. Currently policies on IPFS are using the ipfs.kleros.io prefix and it is causing error logs in Court

[2020-02-07 23:31] ferittuncer opened #156 "Review KlerosGovernor"

[2020-02-17 14:22] #156 closed

[2020-04-24 13:24] defi-er opened #163 "Notifications"
1. When a user inputs email and phone number send them a confirmation message

2. Send notification on the upcoming deadline to appeal a ruling

3. Send notification when PNK is successfully staked

[2020-04-24 13:28] defi-er opened #164 "Rename Sender/Receiver"
The current reference titles for case participants is sender and receiver. This could be deemed confusing for jurors. It could also cause the case to linger on if a wrong decision is made, in which a juror would lose a stake.

[2020-04-24 22:29] satello commented on #164
What application is this referring to?

[2020-04-30 13:55] defi-er commented on #164
This is referring to how parties in court cases appear for jurors. Chosen jurors have voiced opinions in the chat about how this is confusing and would like better titles.

[2020-05-25 17:33] mtsalenc opened #168 "Add a reference to the policy contract."
Currently there is no way to learn what courts are available or its information with just the Kleros address.

The next version of Kleros should emit an event with the policy contract being used.

[2020-06-01 13:06] clesaege commented on #142
That was done in the new contract https://etherscan.io/address/0xcf1f07713d5193fae5c1653c9f61953d048bece4#readContract

[2020-06-01 13:06] #142 closed

[2020-07-16 07:37] hqrshguptq commented on #143
Hi @ferittuncer
Was the issue resolved?

[2020-07-16 11:07] ferittuncer commented on #143
Hi @hqrshguptq up for grabs.

[2020-07-16 20:49] hqrshguptq commented on #143
Okay I will look into this please assign this.
Moreover I have been a Frontend/React Developer of 2 years experience and saw a post somewhere regarding Dapp Internship by @clesaege. Do you have more info regarding this?
I also want to contribute solve some issues on the Kleros Website Repo. Please suggest me or you can tag me on the issues which are currently open..
May I know on which tech-stack

[2020-07-18 18:46] hqrshguptq commented on #143
Okay @ferittuncer I will look into this please assign this.
Moreover I have been a Frontend/React Developer of 2 years experience and saw a post somewhere regarding Dapp Internship by @clesaege. Do you have more info regarding this?
I also want to contribute solve some issues on the Kleros Website Repo. Please suggest me or you can tag me on the issues which are currently open..
May I know on whic

[2020-07-18 21:37] clesaege commented on #143
Hi @hqrshguptq, you can contact me at @clesaege on telegram if you are interested by the internship.

[2020-07-19 07:02] hqrshguptq commented on #143
Sure.

[2020-07-21 21:31] hqrshguptq commented on #143
Hi @ferittuncer In addition to your suggestion on the task work. Where is the Repo where changes are to be done?
or How can I just find comments or if you may tell which contracts are herein talked about?

[2020-07-22 11:39] hqrshguptq commented on #143
![Screenshot 2020-07-22 at 5 05 38 PM](https://user-images.githubusercontent.com/54597242/88172069-090b5e00-cc3e-11ea-9eeb-e3aedd02cbec.png)
Help me with this error! Same while using npm run build.

[2020-07-26 08:37] hqrshguptq commented on #143
Hey @ferittuncer , any updates on this?

[2020-07-30 19:37] hqrshguptq commented on #143
Hi @ferittuncer , where are these comments at?

[2020-07-30 23:19] hqrshguptq commented on #143
Which links are being talked about in here? @ferittuncer

[2020-08-01 10:28] ferittuncer commented on #143
I don't know which links are broken, unfortunately. @hqrshguptq

[2020-08-01 10:29] #143 closed

[2020-08-01 10:31] ferittuncer commented on #163
Implemented.

(Note that this issue actually belongs to `court` repo. This repository is only for smart contacts. )

[2020-08-01 10:31] #163 closed

[2020-08-01 16:07] hqrshguptq commented on #143
Yea, that's the case. Thanks.

[2020-10-31 00:30] greenlucid commented on #164
Your issue is still worded strangely, you might be in the wrong place, you are the one being confusing! This repo is for Kleros' smart contracts, they are in Solidity, and the naming "Sender/Reciever" the parties see in apps can't come from here. I suspect you refer to how parties are referred to in [court.kleros.io](url)? In that case, you should [make this issue in here](https://github.com/klero

[2020-10-31 13:56] epiqueras commented on #164
I think they are referring to Escrow cases?

[2020-11-01 10:34] ferittuncer commented on #164
You are right but actually, Court is not responsible of this. Each arbitrable application sets its own aliases for addresses. See https://github.com/ethereum/EIPs/issues/1497 section "aliases".

[2021-03-17 16:12] clesaege commented on #168
They can just look at the policy contract.

[2021-03-17 16:12] #168 closed

[2021-04-08 20:50] ferittuncer commented on #155
Not open anymore, right? @clesaege

[2021-06-03 12:31] #135 closed

[2021-06-03 12:31] ferittuncer commented on #135
Will be addressed in the next release.

[2022-04-22 16:58] bilinkis opened #200 "Wrong arbitration cost returned"
The Kleros Liquid contract is returning a wrong value for the arbitration cost for Proof of Humanity. Upon calling the arbitrationCost method with POH's arbitratorExtraData, the returned value is 0.075ETH when it should be 0.025ETH.
This causes UI calculation issues, and should be fixed.

[2022-05-05 10:58] 0xferit commented on #200
Arbitration cost is a function of sub-court selection and jury size. `arbitratorExtraData` is the parameter in which you pass these preferences. If you omit jury size, the default is 3. Probably you omitted jury size that's why you got the default jury size of 3, thus you got 0.075ETH.

[2022-11-16 11:18] gratestas opened #224 "Migrate to Hardhat"
upgrading the deployment toolchain to `Hardhat` + `hardhat-deploy`